<div class="row no-gutters">
        {{#each players}}
            <div class="col-md">
                <h1>{{name}}</h1>
            </div>
        {{/each}}
    </div>
    <div class="row no-gutters">
        {{#each players}}
            <div class="col-md">
                <img src="{{img}}">
                <ul>
                {{#each properties}}
                <li>{{@key}}: {{this.[1]}}</li>
                  {{/each}}
                </ul>
            </div>
        {{/each}}
    </div>
    <div class="row no-gutters">
    <a class="button button-primary" href="/">HOME</a>
</div>
