<div class="row fighters">
    <div class="eight columns offset-by-two inset-by-two">
        {{#each playerArr.players}}
            <img class="thumbnail-image" src="/images/players_edited/0{{id}}.jpg"> 
        {{/each}}
    </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<div class="row">
    {{#each currentPlayers.players}}
        <div class="six columns">
            <h3 class="center">{{name}}</h3>
        </div>
    {{/each}}
</div>

<div class="spacer"></div>

<div class="row">
    {{#each currentPlayers.players}}
        <div class="six columns">
            <img class="fighter-image" src="/images/players_edited/0{{id}}.jpg">
        </div>
    {{/each}}
</div>

