<div class="row fighters">
    {{!-- <div class="offset-by-two"></div>
        {{#each playerArr}}
            <div class="one column thumbnail">
                <img class="thumbnail-image" src="../images/{{playerArr.id}}.jpg">
            </div>
        {{/each}}
    <div class="inset-by-two"></div> --}}
    <div class="row">
        {{#each players}}
            <div class="six columns">
                <h1>{{name}}</h1>
            </div>
        {{/each}}
    </div>
    <div class="row">
        {{#each players}}
            <div class="six columns">
                <img src="{{img}}">
            </div>
        {{/each}}
    </div>
</div>
