<div class="row">
    <div class="twelve columns">
        <img src="../images/homepage.jpg">
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <a class="button button-primary" href="/fight">FIGHT</a>
    </div>
</div>