<div class="row main-image">
    <div class="twelve columns">
        <img src="../images/homepage.jpg" class="center">
    </div>
</div>

<div class="spacer"></div>

<div class="row">
    <div class="twelve columns">
        <a class="button button-primary center main-button" id="start" href="/fight">FIIIIIIIGHT</a>
    </div>
</div>

<script src="/homepage.js"></script>