.container {
    margin-top: 40px;
}

.main-image {
    padding-top: 20px;
}

.fighter-image {
    width: 100%;
}

.center {
    margin: auto;
    display: block;
    text-align: center
}

.inset-by-two.columns {
    margin-right: 17.3333333333%; 
  }

.thumbnail-image {
    width: 70px;
}

.spacer {
    height: 15px;
}

.main-button {
    width: 140px;
}

.proplist {
    margin-top: 5px;
}


.proplist li {
    /* padding-bottom: 3px; */
    margin-bottom: 4px;
    
}

hr {
    margin: 10px 0 40px 0;
}