.fighters {
    margin-top: 60px;
}




.inset-by-two.columns {
    margin-right: 17.3333333333%; 
  }

.thumbnail {
    width: 50px;
    height: 50px;   
}

.thumbnail-image {
    max-width: 100%;
}
