.container {
    margin-top: 60px;
}

.main-image {
    padding-top: 20px;
}



.center {
    margin: auto;
    display: block;
    text-align: center
}

.inset-by-two.columns {
    margin-right: 17.3333333333%; 
  }

.thumbnail {
    width: 50px;
    height: 50px;   
}

.thumbnail-image {
    max-width: 100%;
}

.spacer {
    height: 15px;
}

.main-button {
    width: 140px;
}

